@media only screen and (max-width: 991px){
.navbar-toggler-icon.fa {
    font-size: 20px;
    line-height: 1.2em;
    color: #fff;
    line-height: 34px;
    background-image: none;
    padding: 0;
    width: 34px;
    height: 34px;
    display: inline-block;
    background: var(--primary-color);
    border-radius: 4px;
    text-align: center;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border: none;
}
.header-search {
    position: absolute;
    right: 95px;
    top: 10px;
}
.navbar__right-themes {
    position: absolute;
    right: 70px;
    top: 25px;
}
.navbar-collapse{
    max-height: calc(100vh - 80px);
    overflow-y: scroll;
    
}
.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 12px;
    transition: all 0.5s ease;
    position: relative;
    text-align: center;
}
header.active {
    background: rgba(0, 0, 0, 0.7);
}
}